@(openHouses: List[models.askde.OpenHouse])

<html>

<body>

<table>
	<tr><th>zip</th><th>created ts</th><th>id</th><th>lid</th><th>iscurrent</th><th>isrental?</th><th>status</th><th>address</th><th>unit #</th><th>date</th><th>start time</th><th>start dt</th><th>end time</th><th>end dt</th><th>price</th><th>nhood</th><th>city</th></tr>
@for(o <- openHouses){
	<tr><td>@o.getZipCode()</td><td>@o.getCreatedAt()</td><td>@o.getId()</td><td>@o.getListingID()</td><td>@o.isCurrent()</td><td>@o.isRental()<td>@o.getStatus()</td><td>@o.getAddress()</td><td>@o.getUnitNumber()</td><td>@o.getDate()</td><td>@o.getStartTime()</td><td>@o.getStartDateTime()</td><td>@o.getEndTime()</td><td>@o.getEndDateTime()</td><td>@o.getPrice()</td><td>@o.getNeighborhood()</td><td>@o.getCity()</td></tr>
}

</table>

</body>

</html>
