@layout{
    <div class="portlet light portlet-fit portlet-datatable">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject font-dark sbold uppercase">Messages</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-container">
                <table class="table table-striped table-bordered table-hover table-checkable" id="sample_1">
                    <thead>
                        <tr>
                            <th> Type </th>
                            <th> Message </th>
                            <th style="width:20%;"> Actions </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th> Type </th>
                            <th> Message </th>
                            <th>

                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                    @for(m <- models.askde.Appender.getAllCurrent()){
                        <tr class="odd gradeX">
                            <td> Appender </td>
                            <td>
                                @m.getMessage()
                            </td>
                            <td>
                            	@if(m.isActive()){
                                <button class="btn btn-info">Deactivate</button>
                                }else{
                                <button class="btn btn-danger">Activate</button>
                                }
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                       }
                    @for(m <- models.askde.Byline.getAllCurrent()){
                        <tr class="odd gradeX">
                            <td> Byline </td>
                            <td>
                                @m.getMessage()
                            </td>
                            <td>
                            	@if(m.isActive()){
                                <a href="/deactivateMessage"><button class="btn btn-info">Deactivate</button></a>
                                }else{
                                <button class="btn btn-danger">Activate</button>
                                }
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                       }                       
                     
                    @for(m <- models.askde.Adjective.getAllCurrent()){
                        <tr class="odd gradeX">
                            <td> Adjective </td>
                            <td>
                                @m.getMessage()
                            </td>
                            <td>
                            	@if(m.isActive()){
                                <button class="btn btn-info">Deactivate</button>
                                }else{
                                <button class="btn btn-danger">Activate</button>
                                }
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                       }                        

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}{

<script>
    $('.listing-item').addClass('active open selected');
    $('.bylines-menu-item').addClass('active');
</script>

}