@(openHouses: List[models.askde.OpenHouse])
@layout{

    <div class="portlet light portlet-fit portlet-datatable">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject font-dark sbold uppercase">Active Future Open Houses</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-container">
                <table class="table table-striped table-bordered table-hover table-checkable" id="openHousesTable" style="table-layout: fixed">
                    <thead>
                        <tr>
                            <th> Listing ID </th>
                            <th> Address </th>
                            <th> Unit # </th>
                            <th> Rental </th>
                            <th> Open House Date </th>
                            <th> Start </th>
                            <th> End </th>
                            <th> Price </th>
                            <th> Neighborhood </th>
                            <th> Zip Code </th>
                            <th> Type </th>
                            <th> Agent </th>
                            <th> PN </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th> Listing ID </th>
                            <th> Address </th>
                            <th> Unit # </th>
                            <th> Rental </th>
                            <th> Open House Date </th>
                            <th> Start </th>
                            <th> End </th>
                            <th> Price </th>
                            <th> Neighborhood </th>
                            <th> Zip Code </th>
                            <th> Type </th>
                            <th> Agent </th>
                            <th> PN </th>                            
                        </tr>
                    </tfoot>
                    <tbody>
                    @for(o <- openHouses){
                        <tr class="odd gradeX">
                            <td> @o.getListingID() </td>
                            <td> @o.getAddress() </td>
                            <td> @o.getUnitNumber() </td>
                            <td> @o.isRental() </td>
                            <td> @o.getDate() </td>
                            <td> @o.getStartTime() </td>
                            <td> @o.getEndTime() </td>
                            <td> @o.getPrice()</td>
                            <td> @o.getNeighborhood()</td>
                            <td> @o.getZipCode()</td>
                            <td> @o.getPropertyType()</td>
                            <td> @o.getAgentName()</td>
                            <td> @o.getAgentPhoneNumber()</td>
                        </tr>
                       }                      

                    </tbody>
                </table>
            </div>
        </div>
    </div>


}{
<script type="text/javascript" src="/assets/javascripts/openhouse.js"></script>
<script>
    $('.listing-item').addClass('active open selected');
    $('.open-houses-menu-item').addClass('active');
</script>
}